<!DOCTYPE html>
<html lang="zh-CN">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>鸿鹄学苑  用户中心</title>
   <meta name="description" content=""/>
   <!--等待组员讨论-->
   <meta name="keywords" content=""/> 
   <link rel="icon" href="../../xueyuan.ico" type="image/x-icon">
   <link rel="stylesheet" href="../../css/backstage.css">
   <link rel="stylesheet" href="../../css/yanzheng.css">
   <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
   <script src="../../js/jQuery-min.js"></script>
</head>
 <body>
    <header>
            
        <div class="top_nav">
         <ul class="nav nav-pills">
             <li role="presentation" class="active"><a href="/">鸿浩学苑</a></li>
             <li role="presentation"><a href="#">提问</a></li>
             <li role="presentation"><a href="#">树洞</a></li>
           </ul>
   

         <form class="navbar-form navbar-left" role="search">
             <div class="form-group">
               <input type="text" class="form-control" placeholder="Search">
             </div>
             <button type="button" class="btn btn-default" id="search">搜索</button>
           </form>
 
     
         <ul class="nav nav-pills">
             <li role="presentation" id="login"><a href="/view/register">登陆/注册</a></li>
             <li role="presentation " style="display: none;" id="user">
                 <a href="/view/backstage">个人中心</a>
             </li>
             <li role="presentation"><a href="#">收藏</a></li>
             <li role="presentation"><a href="#">动态</a></li>
             <li role="presentation"><a href="#">消息</a></li>
           </ul>
        </div>
    
 </header>
 <main>
       
    <div class="main_box">
        <div class="left_nav">
            <ul class="menu">
              <li class="item">
                <a href="/view/backstage" class="btn_nav"><i class="iconfont"></i>首页</a>
              </li>
              <li class="item" >
                <a href="javascript:void(0);" class="btn_nav"><i class="iconfont "></i>提问与创作</a>
                <div class="smenu">
                    <a href="/view/backstage-question">提问题</a>
                    <a href="/view/backstage-question">答问题</a>
                    <a href="/view/backstage-writing">写文章</a>
                </div>
              </li>
              <li class="item">
                <a href="javascript:void(0);" class="btn_nav"><i class="iconfont "></i>资源管理</a>
                <div class="smenu">
                    <a href="/view/backstage_resource">上传资源</a>
                    <a href="/view/backstage_storage">资源仓库</a>
                </div>
              </li>
              <li class="item">
                <a href="javascript:void(0);" class="btn_nav"><i class="iconfont "></i>设置</a>
                <div class="smenu" >
                  <a href="/view/backstage_password">账号密码</a>
                  <a href="javascript:void(0);">其它</a>
                </div>
              </li>
            </ul>
          </div>
        <div class="right_main">
            <div class="indication-first">
                <div class="list_inform">
                  <strong>账户信息</strong>
                  <div class="to-edit-first"><a href="###"><span>修改</span></a></div>
                </div>
                <div class="list_item">
                  <ul>
<!--                    <li>-->
<!--                    <div class="front_item">-->
<!--                    <span>用</span>-->
<!--                    <span>户</span>-->
<!--                    <span>I</span>-->
<!--                    <span>D</span>-->
<!--                    </div>-->
<!--                    <div class="latter_item" id="user_id_display"></div>-->
<!--                   </li>-->
                   <li>
                     <div class="front_item">
                      <span>邮</span>
                      <span>箱</span>
                     </div>
                     <div class="latter_item" id="user_email_display"></div>
                    </li>
                    <li>
                     <div class="front_item">
                      <span>密</span>
                      <span>码</span>
                     </div>
                     <div class="latter_item" id="user_password_display"></div>
                    </li>
                  </ul>
                </div>
               </div>
               <div class="indication-first-settings">
                <div class="list_inform"><strong>账户信息</strong></div>
                <div class="content-edit">
                  <form class="content-edit-form">
<!--                   <div class="edit-form-item one-row">-->
<!--                     <label for="nickname" class="edit-form-label">用户ID</label>-->
<!--                     <div class="edit-form-item-content">-->
<!--                      <div class="form-input form-input-disabled">-->
<!--                        <input  type="text" autocomplete="off" disabled = "disabled" class="form-input-inner">-->
<!--                      </div>-->
<!--                      <span class="ID-warning"> 用户ID无法被修改</span>-->
<!--                     </div>-->
<!--                   </div>-->
                   <div class="edit-form-item">
                    <label for="realname" class="edit-form-label">邮箱</label>
                    <div class="edit-form-item-content">
                      <div class="form-input">
                        <input  type="text" autocomplete="off" placeholder="请输入新邮箱" id="newEmail" class="form-input-inner">
                      </div>
                    </div>
                   </div>
                  
                   <div class="edit-form-item">
                    <label  for="city" class="edit-form-label">密码</label>
                    <div class="edit-form-item-content">
                      <div class="form-input">
                        <input  type="text" autocomplete="off" placeholder="请输入新密码" class="form-input-inner" id="newPassWord">
                      </div>
                    </div>
                   </div>
      
                   <div class="edit-form-item one-row">
                    <label  class="edit-form-label"></label>
                    <div class="edit-button-content-first">
                      <button type="button" class="btn btn-default">取消</button>
                      <button type="button" class="btn btn-danger" id="newPassWordSubmit">确定</button>
                    </div>
                   </div>
                  </form>
                </div>
               </div>
         </div>
       
    </div>
    <div class="theme-popover">

      <div class="theme-poptit">
 
           <a href="javascript:;" title="关闭" class="close">×</a>
 
           <h3>请先验证的权限资格</h3>
 
      </div>
 
      <div class="theme-popbod dform">
 
            <div>
 
                 <ol>
 
                      <li><strong>邮箱：</strong><input class="ipt" type="text" name="log" id="identify_email" value="" size="20" /></li>
 
                      <li><strong>密码：</strong><input class="ipt" type="password" name="pwd" id="identify_password" value="" size="20" /></li>
 
                      <li><input class="btn btn-primary" type="button" id="identify_submit" value=" 登 录 " /></li>
 
                 </ol>
 
            </div>
 
      </div>
 
 </div>
 
 <div class="theme-popover-mask"></div>
 
</main>
<script>
    $(function(){
      // $(".to-edit-first>a").on("click",function(){
      //   $(".indication-first").css("display","none");
      //   $(".indication-first-settings").css("display","block");
      // });
      // $(".to-edit-second>a").on("click",function(){
      //   $(".indication-second").css("display","none");
      //   $(".indication-second-settings").css("display","block");
      // });
      $(".edit-button-content-first>button").on("click",function(){
        $(".indication-first").css("display","block");
        $(".indication-first-settings").css("display","none");
      })
      $(".edit-button-content-second>button").on("click",function(){
        $(".indication-second").css("display","block");
        $(".indication-second-settings").css("display","none");
      })
        $.get("/Login/getSessionID",{},function (user) {
            if(user===""){
                alert("您还未登录，请尽快登录");
            }else{
                $("#login").css("visibility","hidden");
                $("#user").css("display","block");
            }
        })
    })
    $(function(){
   $(".btn_nav").on("click",function(){
     $(this).siblings(".smenu").toggleClass("maxmore");
     $(this).parent().siblings(".item").find(".smenu").removeClass("maxmore");
   });
 })
 jQuery(document).ready(function($) {

$('.to-edit-first>a').click(function(){

  $('.theme-popover-mask').fadeIn(100);

  $('.theme-popover').slideDown(200);

})

$('.theme-poptit .close').click(function(){

  $('.theme-popover-mask').fadeOut(100);

  $('.theme-popover').slideUp(200);

})

     $("#identify_submit").click(function () {
         let IDSession=obj.user_email;
         let ID=$("#identify_email").val();
         let PassWord=$("#identify_password").val();
         if(IDSession!==ID){
             alert("账号错误");
             return ;
         }
         $.post("/Login/login",{user_email:ID,password:PassWord},function (data) {
             if(data==="success"){
                 $(".theme-popover").css("display","none");
                 $(".theme-popover-mask").css("display","none");
                 $(".indication-first").css("display","none");
                 $(".indication-first-settings").css("display","block");
                 $("#newEmail").val(ID);
             }else{
                 alert(data);
             }
         },"text")
     })
     $("#newPassWordSubmit").click(function () {
         let ID=$("#newEmail").val();
         let PassWord=$("#newPassWord").val();
         if(PassWord===""){
             alert("密码不能为空");
             return ;
         }
         $.post("/Info/PassWord",{user_email:ID,password:PassWord},function () {
             location.reload();
         })
     })
     let obj = {};
     window.onload=function () {
         $.ajax({
             url:"/Info/getPassword",
             async:false,
             success:function (data) {
                 obj=JSON.parse(data);
             }
         })
         $("#identify_email").val(obj.user_email);
         $("#user_email_display").html(obj.user_email);
         let str="";
         for(let i=0;i<obj.password.length;i++){
             str+="*";
         }
         $("#user_password_display").html(str);
     }
})
    $("#search").click(function () {
        location.assign("/view/search_presentation");
    })
  </script>
 </body>
</html>